$primary-color: #8BC34A;
$fa-font-path: "../fonts/font-awesome";

@import "_roboto";
@import "../components/fontawesome/scss/variables";
@import "../components/fontawesome/scss/mixins";
@import "../components/fontawesome/scss/path";
@import "../components/fontawesome/scss/core";
//@import "../components/fontawesome/scss/larger";
@import "../components/fontawesome/scss/fixed-width";
@import "../components/fontawesome/scss/list";
//@import "bordered-pulled";
//@import "spinning";
//@import "rotated-flipped";
//@import "stacked";
@import "../components/fontawesome/scss/icons";

body, button {
  color: #333;
}

.md-tile-content, md-input-group {
  &, input {
    max-width: 100%;
  }
}

.md-subheader.no-side-padding {
  padding: 16px 0;
}

.md-tile-left {
  min-width: 36px;
}

.md-tile-content {
  padding-left: 24px;
  padding-right: 0;
}

.no-margin {
  margin: 0;
}

.nav-submenu {
  button {
    margin-left: 0;
    margin-right: 0;
  }
}

.report-label {
  font-size: small;
  text-transform: uppercase;
  text-align: center;
}

.text-left {
  text-align: left !important;
}

md-sidenav {
  &.md-sidenav-left, &.md-sidenav-right {
    max-width: 95%;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

md-toolbar {
  &.main-nav, .md-toolbar-tools {
    button, .md-button {
      height: 100%;
      text-overflow: ellipsis;
      min-width: 48px;
    }
  }
}

md-toolbar.md-default-theme {
  color: #fff;
  background: $primary-color;
}

md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused label {
  color: $primary-color;
}

.md-subheader.md-primary {
  &.md-default-theme {
    color: #555;
  }
}


.md-button {
  min-width: 48px;
  &.md-default-theme.md-primary {
    color: $primary-color;
  }
}

.md-button

.home-splash {
  height: 100%;
  width: 100%;
  display: block;
  margin: 0 auto;
  padding: 2em;
  max-width: 100%;
  max-height: 100%;
}

a, .link {
  cursor: pointer;
}

md-list.padded md-item md-item-content,
md-item.padded md-item-content {
  padding-left: .5rem;
  padding-right: .5rem;
  line-height: 2;
}

.fa-fw {
  width: 2.28571em;
}

@media (min-width: 960px) {
  md-list.padded md-item md-item-content,
  md-item.padded md-item-content {
    padding-left: 2em;
    padding-right: 2em;
    line-height: 3;
  }
}

.pull-right {
  float: right;
}

.text-center {
  text-align: center;
}

.hide {
  display: none;
}

h3 {
  span {
    margin-right: .3em;
  }
}

.ng-calendar-day {
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
}

.ng-calendar-day:hover {
  background: #f0f0f0;
}

.ng-calendar-number {
  padding: 0;
  color: #777;
  font-weight: bold;
}

.ng-calendar-content {

}

md-item {
  display: block;
}

.md-tile-content h3 {
  line-height: 2;
  margin: 0;
}

md-toolbar.md-default-theme .md-button {
  color: #fff;
  &.icon {
    min-width: 3.167em;
    height: 3.167em;
    border-radius: 3.167em;
    .app-title {
      position: relative;
      top: -0.5em;
      line-height: 2.33;
      height: 100%;
      display: inline-block;
      left: 1em;
    }
  }
}

md-toolbar, .md-toolbar-tools {
  .md-button {
    img {
      max-height: 100% !important;
    }
  }
}

.md-dialog-container {
  background: rgba(0, 0, 0, .5);
}

md-content {
  overflow-x: hidden;
}

md-dialog.calendar {
  max-width: 90%;
  min-width: 0;
  max-height: 90%;
  overflow-y: auto;

  md-content {
    padding: 0;
  }
}

md-tooltip.md-show {
  background: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

textarea[auto-grow].md-input {
  flex: auto !important;
  min-height: 2em;
}

.md-subheader.md-primary {
  background: #f9f9f9;
  border-bottom: 1px solid #eee;
  margin-right: 0;
}

md-slider {
  .md-track {
    background: #ccc;
  }
  .md-track.md-track-fill, .md-thumb:after {
    background: $primary-color;
  }
  .md-thumb:after {
    border-color: $primary-color;
  }
}

.slider-container {
  margin-bottom: 1em;
  label {
    padding-top: 1em;
  }
}