$primary-color: #8BC34A;
$fa-font-path: "../fonts/font-awesome";

@import "_roboto";
@import "../components/fontawesome/scss/font-awesome";

body {
  color: #333;
  padding-top: 64px;
}

md-toolbar.md-light-green-theme {
  color: #fff;
}

.home-splash {

  height: 100%;
  width: 100%;
  display: block;
  margin: 0 auto;
  padding: 2em;
  max-width: 100%;
  max-height: 100%;

}

a, .link {
  cursor: pointer;
}

.k-calendar .k-footer {
  display: none !important;
}

.k-calendar {
  border: 0 !important;
  max-width: 100%;
}

md-list.padded md-item md-item-content,
md-item.padded md-item-content {
  padding-left: 2em;
  padding-right: 2em;
}

.k-animation-container, .k-widget, .k-widget *, .k-animation-container *, .k-widget *::before, .k-animation-container *::after, .k-block .k-header, .k-list-container {
  box-sizing: border-box !important;
}

.pull-right {
  float: right;
}

.hide {
  display: none;
}

h3 {
  span {
    margin-right: .3em;
  }
}

md-item {
  display: block;
}

.md-tile-content h3 {
  line-height: 2;
  margin: 0;
}

.k-calendar .k-header .k-link.k-nav-next, .k-calendar .k-header .k-link.k-nav-prev,
.k-calendar .k-header .k-link.k-nav-next, .k-calendar .k-header .k-link.k-nav-next,
.k-widget.k-calendar .k-nav-fast {
  height: 3.167em;
  line-height: 3.167em;
}

.k-calendar .k-header .k-link.k-nav-next, .k-calendar .k-header .k-link.k-nav-prev {
  width: 3.167em;
}

md-toolbar.md-light-green-theme .md-button {
  color: #fff;
  &.icon {
    min-width: 3.167em;
    height: 3.167em;
    border-radius: 3.167em;
  }
}

md-toolbar, .md-toolbar-tools {
  .md-button {
    img {
      max-height: 100% !important;
    }
  }
}

.k-block,
.k-header,
.k-grid-header,
.k-toolbar,
.k-grouping-header,
.k-pager-wrap,
.k-button,
.k-draghandle,
.k-treemap-tile,
html .km-pane-wrapper .k-header {
  background: $primary-color;
  .k-link:hover, .k-state-selected > .k-link {
    background: lighten($primary-color, 15%);
    border-radius: 4em;
  }
}

.k-state-selected > .k-link {
  background: $primary-color;
  border-radius: 4em;
}
