md-content(layout='column', layout-fill)
    md-toolbar.nav-submenu(ng-swipe-right='prevDay()', ng-swipe-left='nextDay()')
        .md-toolbar-tools(layout='row', layout-fill)
            md-button(ng-click='prevDay()')
                i.fa.fa-caret-left
                md-tooltip {{ "Previous day" | translate }}
            md-button(flex, ng-click='goToReport()')
                span {{ "Go to report" | translate }}
                md-tooltip {{ "Go to report" | translate }}
            md-button(ng-click='nextDay()')
                i.fa.fa-caret-right
                md-tooltip {{ "Next day" | translate }}
    md-subheader.md-primary(ng-swipe-right='prevDay()', ng-swipe-left='nextDay()')
        span {{ date|dateLocale:'EEEE, MMMM d, yyyy' }}
    md-content(layout='row', layout-padding, layout-wrap)
            md-input-container.slider-container(flex=100)
                label {{ day.h }} {{ "Hours" | translate:lang }}
                md-slider.md-primary(flex, ng-model='day.h', step='.25', max='15')
            md-input-container.slider-container(flex=100)
                label {{ day.p }} {{ "Hours (planned)" | translate }}
                md-slider.md-primary(flex, ng-model='day.p', step='.25', max='15')
            md-input-container.slider-container(flex=100)
                label {{ day.m }} {{ "Magazines" | translate }}
                md-slider.md-primary(flex, ng-model='day.m', step='1', max='50')
            md-input-container.slider-container(flex=100)
                label {{ day.t }} {{ "Tracts & Brochures" | translate }}
                md-slider.md-primary(flex, ng-model='day.t', step='1', max='50')
            md-input-container.slider-container(flex=100)
                label {{ day.b }} {{ "Books" | translate }}
                md-slider.md-primary(flex, ng-model='day.b', step='1', max='20')
            md-input-container.slider-container(flex=100)
                label {{ day.r }} {{ "Return visits" | translate }}
                md-slider.md-primary(flex, ng-model='day.r', step='1', max='20')
            md-input-container.slider-container(flex=100)
                label {{ day.s }} {{ "Bible studies" | translate }}
                md-slider.md-primary(flex, ng-model='day.s', step='1', max='5')
            md-input-container.slider-container(flex=100)
                label {{ "Notes" | translate }}
                textarea(auto-grow, ng-model='day.n')
