div(flex, layout='column', layout-fill)
    md-subheader.md-primary(ng-swipe-left='prevDay()', ng-swipe-right='nextDay()') {{ "Welcome" | translate }}
    md-content
        .home-splash
            img(src='img/logo.svg')