md-content(flex, layout='column', layout-fill)
    md-subheader.md-primary {{ "House-to-house records" | translate:language.translator.current }}
    md-list.padded
        md-item
            md-item-content
                p Coming soon!
