md-content(layout='column', layout-fill, ng-swipe-left='nextMonth()', ng-swipe-right='prevMonth()')
    md-toolbar.nav-submenu
        .md-toolbar-tools(layout='row', layout-fill)
            md-button(ng-click='prevMonth()') &laquo;
            h2.text-center(flex) {{ date|dateLocale:'MMMM yyyy' }}
            md-button(ng-click='nextMonth()') &raquo;
    md-subheader.md-primary {{ "Monthly report" | translate }}
    md-list.padded
        md-item
            md-item-content
                span.fa-fw {{ month.h }}
                | {{ "Hours" | translate:lang }}
        md-item
            md-item-content
                span.fa-fw {{ month.p }}
                | {{ "Hours (planned)" | translate:lang }}
        md-item
            md-item-content
                span.fa-fw {{ month.t }}
                | {{ "Tracts & brochures" | translate }}
        md-item
            md-item-content
                span.fa-fw {{ month.b }}
                | {{ "Books" | translate }}
        md-item
            md-item-content
                span.fa-fw {{ month.r }}
                | {{ "Return visits" | translate }}
        md-item
            md-item-content
                span.fa-fw {{ month.s }}
                | {{ "Bible studies" | translate }}