md-content(layout='column', layout-fill)
    md-toolbar.nav-submenu
        .md-toolbar-tools(layout='row', layout-fill)
            md-input-container(flex)
                label {{ "Search" | translate:language.translator.current }}
                input(ng-model='query')
            md-button(ng-click='create()', aria-label='Add/back')
                span {{ "Add New" | translate:language.translator.current }} &nbsp;
                i.fa.fa-caret-right
    md-subheader.md-primary {{ "Return visits" | translate:language.translator.current }}
    md-content(ng-hide='editing')
        md-list.padded
            md-item(ng-hide='people.length')
                md-item-content
                    p.text-center {{ "Nothing here" | translate:language.translator.current }}
                md-divider
            md-item(ng-repeat='p in people | filter:query track by $index', ng-click='edit($index)')
                md-item-content
                    .md-tile-left
                        i.fa.fa-fw.fa-2x(ng-class='{"fa-male": p.gender == "male", "fa-female": p.gender == "female", "fa-user": p.gender != "female" && p.gender != "male" }')
                    .md-tile-content
                        h3 {{ p.name | translate:language.translator.current }}
                        p {{ p.address }}
                md-divider
    md-content(ng-show='editing')
        p {{ "Gender" | translate:language.translator.current }}
            md-radio-group.md-primary(ng-model='person.gender')
                md-radio-button(value='male')
                    i.fa.fa-fw.fa-male
                    span {{ "Male" | translate:language.translator.current }}
                md-radio-button(value='female')
                    i.fa.fa-fw.fa-female
                    span {{ "Female" | translate:language.translator.current }}
        md-input-container
            label {{ "Name" | translate:language.translator.current }}
            input(ng-model='person.name')
        md-input-container
            label {{ "Address" | translate:language.translator.current }}
            textarea(auto-grow, ng-model='person.address')
        md-input-container
            label {{ "Notes" | translate:language.translator.current }}
            textarea(auto-grow, ng-model='person.notes')
        div(layout='row', layout-fill, layout-padding, layout-margin)
            md-button.md-raised(flex, ng-click='editing = false') {{ "Back" | translate:language.translator.current }}
            md-button.md-primary.md-raised(flex, ng-click='save()') {{ "Save" | translate:language.translator.current }}
