section.ng-calendar(layout='column', layout-fill, flex)
    md-toolbar(md-swipe-right='prev()', md-swipe-left='next()')
        .md-toolbar-tools(layout='column')
            md-button(ng-click='prev()', aria-label='Previous') &laquo;
            h2.text-center(flex) {{ calendar.start | dateLocale:'MMMM yyyy':language.translator.language }}
            md-button(ng-click='next()', aria-label='Next') &raquo;
    md-subheader.md-primary.no-side-padding
        .md-subheader-content(layout='row', layout-fill)
            .ng-calendar-subhead-day(flex, ng-repeat='day in calendar.weeks[0]')
                span(hide-gt-md) {{ day | dateLocale:'EEE':language.translator.language }}
                span(hide, show-lg, show-gt-lg) {{ day | dateLocale:'EEEE':language.translator.language }}
    md-content(flex, layout='column', layout-fill)
        .ng-calendar-month(flex, layout='row', layout-fill, ng-repeat='week in calendar.weeks')
            .ng-calendar-week(flex, layout='column', layout-fill, layout-align='center center', ng-repeat='day in week')
                .ng-calendar-day(ng-click='handleDayClick(day)', flex, layout, layout-fill, data-year="{{ day | date:'yyyy' }}", data-month="{{ day | date:'M' }}", data-day="{{ day | date:'d' }}")
                    .ng-calendar-number {{ day | date:'d' }}
                    .ng-calendar-content(flex)
