doctype html
html.no-js(lang='en', ng-app='ministryApp')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        block title
        block description
            meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto+Slab:700,400&subset=latin,cyrillic')
        link(rel='stylesheet', href='css/app.css')
        block style
    body(layout='column', layout-fill, md-theme="light-green", ng-controller='HomeCtrl')
        section(layout='row', layout-fill, flex)
            section(layout='column', flex, layout-fill)
                md-sidenav.md-sidenav-left.md-whiteframe-z2(md-component-id='left')
                    md-toolbar
                        h1.md-toolbar-tools Menu
                    md-content
                        md-button.md-raised.md-primary(ng-click='close()') Close sidenav
                md-content(flex, layout='column', layout-fill)
                    md-toolbar(md-scroll-shrink)
                        .md-toolbar-tools
                            span App Title
                            span(flex)
                            md-button(ng-click='toggleLeft()')
                                span.fa.fa-align-justify
                    md-content.md-padding
                        block content
                    div(flex)
                    md-toolbar.bottom-toolbar
                        .md-toolbar-tools
                            md-button(flex)
                                span.fa.fa-calendar
                            md-button(flex)
                                span.fa.fa-pie-chart
                            md-button(flex)
                                span.fa.fa-users
                            md-button(flex)
                                span.fa.fa-pencil

        block script
            // Google Analytics: change UA-XXXXX-X to be your site's ID.
            script(src='js/app.js')
            script
                | (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
                | function(){(b[l].q=b[l].q || []).push(arguments)});b[l].l=+new Date;
                | e=o.createElement(i);r=o.getElementsByTagName(i)[0];
                | e.src='//www.google-analytics.com/analytics.js';
                | r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
                | ga('create','UA-XXXXX-X','auto');ga('send','pageview');