body {
  color: #333; }

md-toolbar.md-light-green-theme {
  color: #fff; }

.link {
  cursor: pointer; }

.k-calendar .k-footer {
  display: none !important; }

.k-calendar {
  border: 0 !important;
  max-width: 100%; }

md-list.padded md-item md-item-content, md-item.padded md-item-content {
  padding-left: 2em;
  padding-right: 2em; }

.k-animation-container, .k-widget, .k-widget *, .k-animation-container *, .k-widget *::before, .k-animation-container *::after, .k-block .k-header, .k-list-container {
  box-sizing: border-box !important; }

.pull-right {
  float: right; }

.hide {
  display: none; }

h3 span {
  margin-right: 0.3em; }

.show-hover {
  display: none; }

.hover .show-hover {
  display: inline-block; }

md-item {
  display: block; }

.md-tile-content h3 {
  line-height: 2;
  margin: 0; }

.k-block, .k-header, .k-grid-header, .k-toolbar, .k-grouping-header, .k-pager-wrap, .k-button, .k-draghandle, .k-treemap-tile, html .km-pane-wrapper .k-header {
  background: #97c95d; }
  .k-block .k-link:hover, .k-block .k-state-selected > .k-link, .k-header .k-link:hover, .k-header .k-state-selected > .k-link, .k-grid-header .k-link:hover, .k-grid-header .k-state-selected > .k-link, .k-toolbar .k-link:hover, .k-toolbar .k-state-selected > .k-link, .k-grouping-header .k-link:hover, .k-grouping-header .k-state-selected > .k-link, .k-pager-wrap .k-link:hover, .k-pager-wrap .k-state-selected > .k-link, .k-button .k-link:hover, .k-button .k-state-selected > .k-link, .k-draghandle .k-link:hover, .k-draghandle .k-state-selected > .k-link, .k-treemap-tile .k-link:hover, .k-treemap-tile .k-state-selected > .k-link, html .km-pane-wrapper .k-header .k-link:hover, html .km-pane-wrapper .k-header .k-state-selected > .k-link {
    background: #b0d683;
    border-radius: 4em; }

.k-state-selected > .k-link {
  background: #8BC34A;
  border-radius: 4em; }
