doctype html
html.no-js(lang='{{ language }}', ng-app='ministryApp', ng-cloak, manifest="manifest.appcache")
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title Ministry App Demo
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='css/app.css')
    body(layout='column', layout-fill, md-theme="light-green", ng-controller='HomeCtrl')
        section(layout='row', layout-fill, flex)
            md-sidenav.md-sidenav-left.md-whiteframe-z2(md-component-id='left', md-is-locked-open="$media('gt-md')")
                md-toolbar
                    h1.md-toolbar-tools
                        div(ng-click='go("/")') {{ "Menu" | translate }}
                        div(flex)
                        md-button.icon(ng-click='closeNav()', hide-gt-md)
                            span.fa.fa-times
                md-content
                    #calendar
                    md-list
                        md-item.link.padded
                            md-item-content(ng-click='go("/report")')
                                p {{ "Report" | translate }}
                        md-item.link.padded
                            md-item-content(ng-click='go("/return-visits")')
                                p {{ "Return visits" | translate }}
                        md-item.link.padded
                            md-item-content(ng-click='go("/records")')
                                p {{ "House-to-house records" | translate }}
            md-content(flex)
                div(layout='column', layout-fill)
                    md-toolbar(md-scroll-shrink)
                        .md-toolbar-tools
                            md-button.icon(ng-click='toggleNav()', hide-gt-md)
                                span.fa.fa-bars
                            span(ng-click='toggleNav()')
                                img(src='/img/logo.svg', alt='Ministry App')
                            span(flex)
                            md-button.icon(ng-click='toggleLanguage()') {{ language }}
                    md-content(ng-view, flex='100', layout, layout-fill)
        script(src='js/app.js')
