md-bottom-sheet.md-grid
    md-list
        md-item
            md-button.md-grid-item-content(aria-label="Hello world", ng-click="prevDay()")
                .md-icon-container
                    span.fa.fa-caret-left.grid-icon
                p.md-grid-text {{ "Prev Day" | translate }}
        md-item
            md-button.md-grid-item-content(aria-label="Hello world", ng-click="goToReport()")
                .md-icon-container
                    span.fa.fa-bar-chart.grid-icon
                p.md-grid-text {{ "Report" | translate }}
        md-item
            md-button.md-grid-item-content(aria-label="Hello world", ng-click="nextDay()")
                .md-icon-container
                    span.fa.fa-caret-right.grid-icon
                p.md-grid-text {{ "Next Day" | translate }}
